

#title{
    margin-top: 3%;
}

#img{
    height: 100%;
    width: 80%;
    border-radius: 10%;
    margin-left: 5%;
   
}

#titlePontos{
    font-family: 'Indie Flower', cursive;
    font-size: 200%;
    text-align: center;
    margin-top: 3%;
}

#text-container {
    font-size: x-large;
    background-color: rgba(212, 212, 212, 0.281);
    border-radius: 10%;
}


h1 {
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

#corpo{
    height: 500%;
    overflow: auto;
}


