<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Assets/Css/pontos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    
    <title>PONTOS TURISTICOS</title>
</head>

<body >
    <nav class="navbar navbar-expand-lg " id="navbar">
        <div class="conteiner-fluid" id="conteiner">      
            <ul class="navbar-nav navbar-brand " > 
            <a href="" class="nav-link" class="" id="linklogo">
                <img  src="./Assets/img/logo.png" alt="" id="logo">
                <strong>TIPIC CARUARU</strong>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#n_bar"    aria-controls="navbarNavAltMarkup" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            </a> 
            <div class="collapse navbar-collapse "  id="n_bar">
                <li class="nav-item  linkHome" id="link">
                    <a href="index.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item" id="link">
                    <a href="" class="nav-link">Pontos Turisticos</a>
                </li>
                
                </li>
                <li class="nav-item" id="link">
                    <a href="./Views/login.html" class="nav-link">Perfil</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <h1 class="pontos" id="section1">Pontos Turisticos</h1>
    <p class="ponto1">Casa do Vitalino</p>

    <img class="vitalino" src="Assets/img/museu-casa-do-mestre .jpg" alt="">

    <div class="text-container">
        <p>Mestre Vitalino, nascido em 1909 em Caruaru, Pernambuco, foi um renomado artesão brasileiro conhecido por
            suas esculturas em cerâmica que retratam o cotidiano nordestino e figuras populares. Sua casa em Caruaru,
            agora transformada em museu, preserva seu legado e exibe suas obras, atraindo turistas interessados na
            cultura nordestina. Ao longo de sua vida, Mestre Vitalino desempenhou um papel crucial na promoção e
            preservação das tradições culturais do Nordeste brasileiro por meio de sua arte, deixando um impacto
            duradouro no patrimônio cultural do país.</p>
    </div>



    <div class="section2" id="section2">

        <p class="ponto2">Feira de Caruaru</p>

        <img class="feira" src="Assets/img/feira2.jpg" alt="Outra Imagem">

        <div class="text-container2">
            <p>CA Feira de Caruaru, localizada em Caruaru, Pernambuco, é uma das maiores e mais tradicionais feiras
                livres do Brasil. Fundada em 1861, ela se destaca por sua riqueza cultural, variedade de produtos e
                forte influência da cultura nordestina. A feira é conhecida por suas barracas coloridas, onde os
                visitantes podem encontrar uma ampla gama de produtos, desde artesanato regional até alimentos típicos.
                Além disso, a Feira de Caruaru é um importante centro de manifestações culturais, incluindo
                apresentações de forró, xaxado e outras expressões artísticas do Nordeste brasileiro. Ela desempenha um
                papel significativo na preservação e promoção das tradições locais, atraindo tanto moradores quanto
                turistas interessados na autenticidade da cultura nordestina.</p>
        </div>


    </div>
    <div class="section3" id="section3">

        <p class="ponto3">Museu Luiz Gonzaga</p>

        <img class="museu" src="Assets/img/museu de forro.jpg" alt="">

        <div class="text-container3">
            <p>
                O Museu Luiz Gonzaga em Caruaru, inaugurado em 1986, é dedicado ao Rei do Baião e destaca-se por
                preservar objetos pessoais, discos, fotografias e instrumentos musicais, incluindo a última sanfona
                tocada por Luiz Gonzaga. Além de homenagear o Rei do Baião, o museu registra a cultura local, festejos
                juninos e artistas da região. O acervo inclui documentos pessoais, roupas, discos e a emblemática
                sanfona utilizada no último show de Gonzaga em 1988. Visitantes expressam emoção e admiração ao explorar
                o museu, que também apresenta espaços dedicados a artistas locais e festejos juninos passados, como a
                cantora Elba Ramalho.</p>
        </div>



    </div>
    <div class="section4" id="section3">

        <p class="ponto4">Caruaru</p>

        <img class="caruaru2" src="Assets/img/caruaru2.png" alt="">

        <div class="text-container4">
            <p>

                Caruaru, no Agreste de Pernambuco, é conhecida como a "Capital do Forró" e destaca-se pela tradicional
                feira livre, uma das maiores do Brasil. Famosa pelo "Maior São João do Mundo", atrai visitantes com suas
                festividades juninas. O Museu Luiz Gonzaga preserva a memória do Rei do Baião e sua contribuição para a
                música nordestina. A cidade é reconhecida pelo artesanato em cerâmica, com destaque para o trabalho do
                mestre Vitalino. Caruaru é um centro cultural e comercial, mantendo viva a autenticidade das tradições
                nordestinas. A culinária local oferece pratos típicos, enriquecendo a experiência gastronômica. Com uma
                vibrante cena cultural, a cidade representa a rica identidade do Nordeste brasileiro. A Feira de
                Caruaru, colorida e diversificada, é um atrativo turístico importante. A cidade celebra sua
                singularidade, sendo um destino característico do Nordeste.</p>
        </div>



    </div>
</body>

</html>