#logo{
    width:40px;
    margin-left: 5%;
}


#link{
    margin: auto 3%;
    font-family: monospace;
}

.linkHome{
    padding-left: 75%;
}

#corpo{
    background-color: #f1f1f1;
    width: 100%;
    height: 1000px;
    margin: 0;
}


#carouselExampleFade{
    text-align: center;
    margin-top: 9%;
}

#titleIntroducao{
    margin-top: 5%;
    margin-left: 2%;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

#introducao{
    margin-left: 2%;
    font-family: monospace;
    font-size: 20pt;
    margin-top: 2%;
}