#logo{
    width:40px;
    margin-left: 5%;
}

#conteiner{
    width:100% ;
}

#link{
    margin: auto 3%;          /*CSS BARRA NAV*/
    font-family: monospace;
}

#linklogo{
    padding-right: 10%;
}

.navbar-toggler{
    float: right;
}

/*-------------------------------------------------------------------*/

#corpo{
    background-color: #f1f1f1;
    width: 100%;
    height: 1000px;
    margin: 0;                                        /*CSS CONTEUDO*/
}


#carouselExampleFade{
    text-align: center;
    margin-top: 9%;
}

#titleIntroducao{
    margin-top: 8%;
    margin-left: 2%;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

#introducao{
    margin-left: 2%;
    font-family: monospace;
    font-size: 20pt;
    margin-top: 2%;
}

body{
    overflow:hidden ;
}

#cont1{
    padding-left: 2%;
    padding-right: 3%;
}